body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Lato, sans-serif;
    font-weight: 300;
    color: #333;
}
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 1.8em;
}
.centered {
    text-align: center;
}
.goright {
    text-align: right;
}
.no-wrap {
	white-space: nowrap;
}
.mt {
    padding: 25px 0;
}
a {
    color: #366ba7;
    word-wrap: break-word;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
a:before, a:after {
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.btn {
    border-radius: 0;
}
.btn-blue {
    color: #fff;
    background-color: #4E84C1;
    border-color: #4E84C1;
    font-weight: 300;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue.active, .open .dropdown-toggle.btn-blue {
    color: #fff;
    background-color: #366ba7;
    border-color: #366ba7;
    font-weight: 300;
}
.tm {
    line-height: 20px;
}
.menu {
    position: fixed;
    right: -200px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}
.menu.menu-open {
    right: 0;
}
.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #1a1a1a;
    width: 200px;
    height: 100%;
}
.menu h1.logo a {
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-weight: 800;
    letter-spacing: .15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
}
.menu h1.logo a:hover {
    color: #4E84C1;
}
.menu img.logo {
    margin: 20px 0;
    max-width: 160px;
}
.menu a {
    margin-left: 20px;
    color: gray;
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.menu a:hover {
    color: #fff;
}
.menu a:active {
    color: #fff;
}
.menu a>i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 14px;
    line-height: 40px;
    margin: 25px 2px;
}
.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 14px;
    color: gray;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 20px;
    right: 5px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.menu-close:hover {
    color: #fff;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.body-push-toright {
    left: 200px;
}
.body-push-toleft {
    left: -200px;
}
.menu, .body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#menuToggle {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, .25);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#headerwrap {
    background: url(../img/bottleshake-op.png) no-repeat center top #000;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#headerwrap h1 {
    margin-top: 75px;
    color: #fff;
    font-size: 16em;
    font-weight: 700;
    letter-spacing: 3px;
	line-height: 1.05;
}
#headerwrap h2 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
	line-height: 1.6;
}
#headerwrap i {
    font-size: 35px;
    color: #fff;
}
#headerwrap .spacer {
    margin-top: 55px;
}
#mapwrap {
    margin: 0;
    padding: 0;
}
#serviceswrap {
    background: url(../img/services-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#serviceswrap h2 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#aboutwrap {
    background: url(../img/about-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#aboutwrap h2 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#portwrap {
    background: url(../img/portfolio-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#portwrap h2 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 150px;
}
#sp {
    background: #4E84C1;
    padding-top: 35px;
    padding-bottom: 35px;
}
#sp h2, #sp p {
    color: #fff;
}
#sp-standout {
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#portfolio {
    width: 100%;
}
#services {
    background: #fff;
    padding-top: 35px;
    padding-bottom: 35px;
}
#services h3 {
	color: #4E84C1;
}
#services p {
	color: #4E84C1;
}
#services i {
    color: #4E84C1;
    font-size: 35px;
    margin-top: 22px;
}
#lg {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#lg.client {
	background: #ebebeb;
}
#lg .desc {
    text-align: left;
}
#call {
    background: #2f2f2f;
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
}
#call h3 {
    color: #fff;
}
#call p {
    color: #fff;
}
#call a.email {
	color: #fff;
}
#call a.email:hover {
	color: #999999;
}
#sf {
    display: block;
    width: 100%;
}
#sf .container {
    width: 100%;
}
#sf .col-lg-4 {
    margin: 0;
    padding: 15px;
}
#sf .lg {
    background-color: #4E84C1;
}
#sf .dg {
    background-color: #366ba7;
}
#sf h4 {
    color: #fff;
}
#sf p {
    color: #fff;
}
#sf .ml {
    margin-left: 30px;
}
#sf i {
    font-size: 70px;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#cf {
    background: #2f2f2f;
}
#cf h4 {
    color: #fff;
    margin-left: 15px;
    margin-top: 15px;
}
#cf p {
    color: #fff;
    line-height: 18px;
    margin-left: 15px;
}
#cf .container {
    width: 100%;
}
#cf .col-lg-8 {
    margin: 0;
    padding: 0;
}
.process {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.process li {
    display: block;
    float: left;
    padding: 1px;
    width: 100%;
    opacity: 0;
}
.process li.shown, .no-js .process li, .no-cssanimations .process li {
    opacity: 1;
}
.process li a, .process li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%;
}
.process.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}#chartwrap {
    width: 100%;
}
#chartwrap .container {
    margin-left: 0;
    padding-left: 0;
}
#chartwrap h1, #chartwrap p {
    margin-left: 10px;
}
.cardinfo {
    background: #fff;
    padding: 15px;
    margin: 2px;
    text-align: left;
}
.cardinfo i {
    padding-right: 20px;
}
.grid {
    max-width: 69em;
    list-style: none;
    margin: 30px auto;
    padding: 0;
}
.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 33%;
    opacity: 0;
}
.grid li.shown, .no-js .grid li, .no-cssanimations .grid li {
    opacity: 1;
}
.grid li a, .grid li img {
    outline: 0;
    border: 0;
    display: block;
    max-width: 100%;
}
.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
.grid.effect-2 li.animate {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    transform: translateY(200px);
    -webkit-animation: moveUp .65s ease forwards;
    -moz-animation: moveUp .65s ease forwards;
    animation: moveUp .65s ease forwards;
}
@-webkit-keyframes moveUp {
    to {
    -webkit-transform: translateY(0);
    opacity: 1;
}
}@-moz-keyframes moveUp {
    to {
    -moz-transform: translateY(0);
    opacity: 1;
}
}@keyframes moveUp {
    to {
    transform: translateY(0);
    opacity: 1;
}
}

/*My Custom CSS*/
#headerwrap h1, .menu h1.logo a {
	text-indent: -9999px;
}
.menu h1.logo a {
	background: url(../img/je.png) 0 center no-repeat;
	background-size: contain;
}
.btn-ghost {
	background: transparent;
	color: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #fff;
	font-size: 24px;
	padding: 15px;
}
.btn-ghost:hover {
	border: 1px solid #ababab;
	color: #ababab;
}
.cta {
	margin-top: 80px;
}
.cta a {
  margin-right: 20px;
}
#headerwrap h1 {
	background: url(../img/je.png) 47% center no-repeat;
	background-size: contain;
}
#sp-standout.hughes {
	background: url(../img/sp-standout-bg-hughes.jpg) no-repeat top fixed;
	min-height: 500px;
}
#sp-standout.farmers {
	background: url(../img/sp-standout-bg-farmers.jpg) no-repeat top fixed;
	min-height: 620px;
	background-size: cover;
}
#sp-standout.dish {
	background: url(../img/sp-standout-bg-dish.jpg) no-repeat bottom fixed;
	min-height: 725px;
	background-size: cover;
}
#sp-standout.seguros {
	background: url(../img/sp-standout-bg-seguros.jpg) no-repeat top fixed;
	min-height: 700px;
	background-size: cover;
}
#sp-standout.gaia {
	background: url(../img/sp-standout-bg-gaia.jpg) no-repeat top fixed;
	min-height: 650px;
	background-size: cover;
}
#sp-standout.amplio {
	background: url(../img/sp-standout-bg-amplio.jpg) no-repeat top fixed;
	min-height: 620px;
	background-size: cover;
}
#sp-standout.student-housing {
	background: url(../img/sp-standout-bg-student-housing.jpg) no-repeat top fixed;
	min-height: 620px;
	background-size: cover;
}
#sp-standout.princess {
	background: url(../img/sp-standout-bg-princess.jpg) no-repeat top fixed;
	min-height: 620px;
	background-size: cover;
}
#sp-standout.bottleshake {
	background: url(../img/sp-standout-bg-bottleshake.jpg) no-repeat top fixed;
	min-height: 620px;
	background-size: cover;
}
#sp-standout.ccm {
	background: url(../img/sp-standout-bg-ccm.jpg) no-repeat top fixed;
	min-height: 620px;
	background-size: cover;
}
#sc {
	background: #000;
	padding: 30px 0 50px 0;
	width: 100%;
}
#sc ul {
	max-width: 960px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
#sc ul li.title {
	width: 100%;
	font-size: 14px;
	padding-bottom: 20px;
	margin: 0;
}
#sc ul li {
	display: block;
	font-size: 11px;
	color: #FFF;
	width: 80px;
	margin: 15px auto;
}
#sc ul li:first-child {
	margin-top: 0;
}
#sc ul li a {
	color: #FFF;
}
#sc ul li a:hover {
	text-decoration: underline;
}
.logos img {
	max-width: 360px;
}
.print .process li {
	padding-bottom: 30px;
}
.goBack h3 {
	padding-bottom: 40px;
}
.goBack a {
	padding: 20px;
}

.dish {
	background: url('../img/dish-bg.jpg') center top no-repeat fixed #000;
	background-size: cover;
}
.farmers {
	background: url('../img/farmers-bg.jpg') center top no-repeat fixed #376B9D;
	background-size: cover;
}
.ccm {
	background: url('../img/ccm-bg.jpg') center top no-repeat fixed #1f8ada;
	background-size: cover;
}
.amplio {
	background: url('../img/amplio-bg.jpg') center top no-repeat fixed #407177;
	background-size: cover;
}
.hughes {
	background: url('../img/hughesnet-bg.jpg') center top no-repeat fixed #00316c;
	background-size: cover;
}
.gaia {
	background: url('../img/gaia-bg.jpg') center top no-repeat fixed #376B9D;
	background-size: cover;
}
.seguros {
	background: url('../img/seguros-bg.jpg') center top no-repeat fixed #2d6091;
	background-size: cover;
}
.bottleshake {
	background-color: #ff8249;
}
.princess {
	background: url('../img/princess-bg.jpg') center top no-repeat fixed #0054a0;
	background-size: cover;
}
.logoDisplay {
	background: url('../img/logos-bg.jpg') center top no-repeat fixed #4E84C1;
	background-size: cover;
}
.dish h1, .dish p {
	color: #e71f0a !important;
}
.farmers h1, .ccm h1, .amplio h1, .hughes h1, .gaia h1, .seguros h1, .logoDisplay h1, .bottleshake h1, .princess h1 {
	color: #fff;
}
.portfolio {
	text-align: center;
	padding: 60px 0 100px 0;
}
.portfolio h1 {
	font-size: 42px;
	font-weight: normal;
}
.portfolio h1 sup {
	font-weight: bold;
}
.portfolio p {
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	padding-bottom: 20px;
	max-width: 625px;
	margin: 50px auto 0 auto;
	padding: 0 10px;
}
.portfolio img {
	padding: 40px 0;
	width: 90%;
	max-width: 1122px;
	visibility: hidden;
	margin: 0 10px;
}
.portfolio .btn-ghost {
	clear: both;
	margin: 0 auto;
}
.spot p {
	color: #fff;
}
#top {
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 40px;
	background: #4E84C1;
	padding: 10px 0;
	text-align: center;
	z-index: 99999;
	visibility: hidden;
}
#top i {
	color: #fff;
	font-size: 24px;
}

@media (max-width: 480px) {
	#sp-standout.farmers, #sp-standout.dish, #sp-standout.ccm, #sp-standout.amplio, #sp-standout.hughes, #sp-standout.gaia, #sp-standout.seguros, #sp-standout.logoDisplay, #sp-standout.princess, #sp-standout.bottleshake {
		display: none;
	}
}

@media (min-width: 43.75em) {
	#headerwrap h1 {
		font-size: 20em;
	}
	#sc ul li {
		display: inline-block;
		margin: 0;
	}
	.portfolio p {
		padding: 0;
	}
}

@media (min-width: 56.25em) {
	#headerwrap h1 {
		font-size: 23em;
	}
	.portfolio h1 {
		font-size: 90px;
	}
	.portfolio img {
		width: 100%;
	}
}

@media only screen and
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.menu h1.logo a {
		background: url(../img/je@2x.png) 0 center no-repeat;
		background-size: contain;
	}
	/*#headerwrap {
		background: url(../img/bottleshake-op.png) no-repeat center top;
	}*/
	#headerwrap h1 {
		background: url(../img/je@2x.png) 47% center no-repeat;
		background-size: contain;
	}
	#sp-standout.hughes {
		background: url(../img/sp-standout-bg-hughes@2x.jpg) no-repeat center 50%;
	}
}
/*My Custom CSS*/
